SCALING

Calculates the min and max of each feature and will transform the feature to the scaled version

x = (x-x_min) / (x_max - x_min)

In [9]:
import pandas as pd

from sklearn.datasets import fetch_california_housing
california = fetch_california_housing()  # Bunch object

df = pd.DataFrame(california.data, columns=california.feature_names)
df["Value"] = california.target

features = df.drop("Value", axis=1)
target = df["Value"]

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

#split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=3000)


model = LinearRegression().fit(X=X_train, y=y_train)


print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test)))

R-squared value for training set:  0.6095160399631113
R-squared value for testing set:  0.5954462325232102

In [11]:
from sklearn.preprocessing import MinMaxScaler

#create the scaler
scaler = MinMaxScaler()

#fit the scaler to the training data(features only)
scaler.fit(X_train) 

#transform X_train and X_test based on the (same) scaler
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [12]:
X_train

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
6793,2.7483,28.0,4.106509,1.111440,2934.0,2.893491,34.09,-118.14
3521,4.5800,33.0,6.009862,1.039448,1578.0,3.112426,34.27,-118.49
15743,1.3844,29.0,3.456464,0.960422,1009.0,2.662269,37.78,-122.43
9759,2.8775,13.0,4.685864,1.083770,2474.0,4.317627,36.57,-121.42
5800,1.7301,7.0,3.208398,1.041991,1892.0,2.942457,34.15,-118.24
...,...,...,...,...,...,...,...,...
14937,4.0298,5.0,4.531128,1.054475,1213.0,2.359922,32.64,-117.04
1876,2.2589,19.0,7.601064,1.553191,585.0,3.111702,38.94,-119.96
17333,5.2990,12.0,7.214932,1.047511,1200.0,2.714932,34.91,-120.44
18350,7.0309,29.0,5.436782,1.183908,359.0,4.126437,37.41,-122.15
9208,2.8167,10.0,6.080078,1.150391,1508.0,2.945312,37.19,-119.68

In [13]:
pd.DataFrame(X_train_scaled).describe()

,0,1,2,3,4,5,6,7
count,15480.000000,15480.000000,15480.000000,15480.000000,15480.000000,15480.000000,15480.000000,15480.000000
mean,0.231869,0.541840,0.074049,0.050766,0.086624,0.001913,0.326549,0.474569
std,0.130224,0.246321,0.034144,0.025625,0.066118,0.008827,0.227523,0.200580
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.142665,0.333333,0.058309,0.044902,0.047908,0.001399,0.146809,0.251251
50%,0.208818,0.549020,0.071040,0.047724,0.070973,0.001709,0.180851,0.582583
75%,0.292030,0.705882,0.084282,0.051116,0.105263,0.002083,0.548936,0.630631
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
from sklearn.preprocessing import MinMaxScaler

#create the scaler
scaler = MinMaxScaler()

#fit the scaler to the training data(features only)
scaler.fit(X_train) 

#transform X_train and X_test based on the (same) scaler
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test) 

model = LinearRegression().fit(X = X_train, y = y_train)


print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R-squared value for training set:  -1136.4648928900822
R-squared value for testing set:  -1127.0555678009725

In most cases, the scaling of the features usually improves the performance of machine learning algorithms

MinMaxScaler noramlizes your features so they range from 0 to 1, while StandardScalar standardizes them

Normalization usually means to scale a variable to have a values between 0 and 1, while standardization 
transforms data to have a mean of zero and a standard deviation of 1

In [15]:
from sklearn.preprocessing import StandardScaler

#create the scaler
scaler = StandardScaler()

#fit the scaler to the training data(features only)
scaler.fit(X_train) 

#transform X_train and X_test based on the (same) scaler
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test) 

model = LinearRegression().fit(X=X_train_scaled, y=y_train)


print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R-squared value for training set:  0.6095160399631113
R-squared value for testing set:  0.5954462325232106